@import url("./style.css");

/* HEADER */
header {
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
}
.home-link {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: var(--branco-principal);
}
.home-link span {
  margin-top: 10px;
  font-size: 1.4rem;
  font-weight: bold;
}

header .logo {
  display: block;
}

/* CONTEUDO */
.conteudo-principal {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

article {
  /* margin: 0 2rem 0 2rem; */
  margin: 0 0 0 2rem; /* margem só à esquerda */
  flex: 1;
}

h1 {
  font-size: 2.5rem;
}

article img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top;
  border-radius: 4px;
  max-height: 500px;
  margin-bottom: 1rem;
}

.especificacao {
  color: gray;
  opacity: 80%;
  left: 0px;
  font-size: 1rem;
}

p {
  font-size: 1.2rem;
}

p,
h1,
blockquote,
video {
  margin-bottom: 2rem;
}

blockquote {
  font-size: 1.4rem;
  font-weight: 600;
  position: relative;
  padding: 1rem 1.5rem;
  border-left: 6px solid var(--azul-principal);
  background-color: var(--branco-quote);
  color: var(--preto-quote);
  box-shadow: 2px 2px 8px rgba(12, 67, 132, 0.4);
  border-radius: 6px;
}

blockquote::before,
blockquote::after {
  content: none;
}

section h2 {
  margin-bottom: 1rem;
}

video {
  border-radius: 4px;
}

.alinhar {
  display: flex;
  justify-content: center;
}

/* ASIDE */

.outras-noticias {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 0 0 320px;
  margin-right: 2rem;
}

.outras-noticias h2 {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 3rem;
  text-transform: uppercase;
}

/* TEXTO RANKING*/
.texto-ranking {
  flex: 1;
}

.texto-ranking .categoria {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--azul-principal);
  margin-bottom: 0.25rem;
  display: inline-block;
}

.texto-ranking p {
  color: #111;
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.3;
}

.item-ranking {
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.item-ranking::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 90%;
  height: 2px;
  background-color: #ccc;
  border-radius: 6px;
}
.item-ranking a.noticia {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.75rem; /* espaçamento interno da borda */
  gap: 1rem; /* funciona agora, pois img e texto estão aqui */
  text-decoration: none;
  color: inherit;
}

.item-ranking img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
  flex-shrink: 0;
}

/* 
RESPONSIVO
 */
@media (max-width: 600px) {
  .outras-noticias {
    display: none;
  }
}
