@import url("./style.css");

/* HEADER */
header {
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
}
.home-link {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: var(--branco-principal);
}
.home-link span {
  margin-top: 10px;
  font-size: 1.4rem;
  font-weight: bold;
}

header .logo {
  display: block;
}

/* CONTEUDO */
article {
  margin: 0 300px 0 300px;
}

h1 {
  font-size: 2.5rem;
}

article img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top;
  border-radius: 4px;
  max-height: 500px;
  margin-bottom: 1rem;
}

.especificacao {
  color: gray;
  opacity: 80%;
  left: 0px;
  font-size: 1rem;
}

p {
  font-size: 1.2rem;
}

blockquote {
  font-size: 1.4rem;
}
p,
h1,
blockquote,
video {
  margin-bottom: 2rem;
}

blockquote {
  font-size: 1.4rem;
  font-weight: 600;
  position: relative;
  padding: 1rem 1.5rem;
  border-left: 6px solid var(--azul-principal);
  background-color: var(--branco-quote);
  color: var(--preto-quote);
  box-shadow: 2px 2px 8px rgba(12, 67, 132, 0.4);
  border-radius: 6px;
}

blockquote::before,
blockquote::after {
  content: none;
}

section h2 {
  margin-bottom: 1rem;
}

video {
  border-radius: 4px;
}

.alinhar {
  display: flex;
  justify-content: center;
}
